@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
/*Styles for index.html, highscore.html, game.html and end.html files*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    box-sizing: border-box;
}

:root{
    background-color: #f3f3f3;
}

h1{
    align-items: center;
    font-size: 3rem;
    color: #1e1c1c;
    margin-bottom: 1rem;
}

h2{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
    width: auto;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center{
    text-align: center;
}

.hidden{
    display: none;
}

.poga {
    font-size: 1rem;
    padding: 1.5rem 0;
    width: 100%;
    margin: 0.5rem 2rem;
    text-align: center;
    text-decoration: none;
    color: #f3f3f3;
    background-color: #8E0E0C;
    border-radius: 4px;
}

.poga:hover {
    cursor: pointer;
    background-color: #911b19;
    box-shadow: 0.2rem 0.2rem 1.2rem 0.2rem #8E0E0C;
    transition: 0.2s ease-in;
    transform: scale(1.02);
}

.poga[disabeled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

/* End Page CSS section*/

.end-form-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

input{
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 #911b19;
}

input::placeholder {
    color: #f3f3f3;
}

#username {
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
    background-color: #1e1c1c;
    color: #f3f3f3;
}

#end-text {
    font-size: 1.2rem;
    color: #8E0E0C;
    text-align: center;
}

#saveScoreBtn {
    border: none;
}

#finalScore {
    font-size: 5rem;
}

@media screen and (max-width: 530px) {
    #index_virsraksts {
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 490px) {
    .poga {
        width: 290px;
    }
}